<!-- header -->
<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand col-sm-2" href="/">To Do List</a>
    <span class="col-sm-8"></span>
    <span class="col-sm-2 text-light bg-inverse text-align"><%= Date.today.strftime("%Y-%m-%d") %></span>
</nav>
<%= yield %>
<!-- footer -->
<hr />
<footer>
    &copy; 2017 - by Cheny
</footer>
